{% extends 'rango/base.html' %}
{% load static %}
{% load rango_template_tags %}

{% block title_block %}
{% if category %}
{{ category.name }}
{% else %}
Unknown Category
{% endif %}
{% endblock %}

{% block body_block %}
{% if category %}
<h1>{{ category.name }}</h1>
{% if pages %}
<ul>
{% for page in pages %}
<li><a href="{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
</ul>
{% else %}
<strong>No pages currently in category.</strong>
{% endif %}
<p>
<a href="{% url 'rango:add_page' category.slug %}">Add a Page</a> |
<a href="{% url 'rango:index' %}">Back to Index</a>
</p>
{% else %}
<h2>Unknown Category</h2>
<p><a href="{% url 'rango:index' %}">Back to Index</a></p>
{% endif %}
{% endblock %}

{% block sidebar_block %}
{% get_category_list category %}
{% endblock %}
